.promotion-show-card {
  margin: auto;
  width: 50%;
  border-radius: 1em;
  text-align: center;
  margin-top: 1em;
  background-color: white;
  padding: 1em;
}
.new-promotion-form {
  width: 33%;
  margin: auto;
  background: white;
  padding: 1em 2em;
  border-radius: 1em;
}
.promotion_kind {
  margin: auto;
  width: 5em;
}
.fa-circle-check {
  color: green;
}
.fa-circle-xmark {
  color: red;
}
.promo-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 30%;
  margin: auto;
  margin-top: 0.5em;
}
.promo-infos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 0.5em;
}
#promotion-show {
margin-bottom: 0em;
}
.form-label, .col-form-label {
  font-weight: bold;
}
@media (max-width: 1200px) {
  .new-promotion-form {
    width: 40%;
  }
}
@media (max-width: 995px) {
  .new-promotion-form {
    width: 66%;
  }
}
@media (max-width: 600px) {
  .new-promotion-form {
    width: 85%;
  }
}
