.promotion-show-card {
  margin: auto;
  width: 50%;
  border-radius: 1em;
  text-align: center;
  margin-top: 1em;
  background-color: white;
  padding: 1em;
}
.new-promotion-form {
  width: 33%;
  margin: auto;
}
