.basket-card {
  padding: 1em;
  border-radius: 1em;
  background-color: white;
  margin: auto;
  text-align: center;
  width: 20em;
  margin-bottom: 1em;
}
.basket-infos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.no-decoration {
  text-decoration: none;
}
.transaction-infos {
  margin-top: 1em;
}
